/*Custom Propeties */
:root { 
    --texto-blanco: #fff;
    --fondo-azul: #004466;
    --fondo-gris: #dadadada;
    --fuente-principal: 'Lucida Sans',sans-serif;
}
/* 
ejemplo: 
body{
background-color: var(--fondo-azul); "Lo ponemos con Var, llmando desde arriba (:root) para que sea mas facil si el dia de mañana decido cambiar de color) lo mismo sirve para losfont"
}
    */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
header, footer{
    background-color: var(--fondo-azul);
    color: var(--texto-blanco);
    text-align: center;
    padding: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

nav ul li a{
    color: var(--texto-blanco);
    text-decoration: none; /*pa sacar el subrayado*/
    font-size: 25px; /*tamaño de letra*/
    text-transform: capitalize;
}
.hero{
    text-align: center;
    padding: 40px;

}

.hero img{
    width: 700px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;

}
.cards article{
    background-color: var(--fondo-gris);
    padding: 40px;
    max-width: 250px;
    text-align: center;
    border-radius: 8px;
}


/* Mediaquerys / diseño responsive*/

@media(max-width: 768px){
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    .hero img {
        width: 100%;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}

/* Contacto */
form {
    background-color: var(--fondo-gris);
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    margin: 0 auto;
}

form h2{
    text-align: center;
    margin-bottom: 20px;
    color: var(--fondo-azul);
    font-family: var(--fuente-principal);
}

label{
    display:block;
    margin: 10px 5px;
}

input,textarea{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    display: block;
    margin-top: 15px;
    padding: 10px;
    background-color: var(--fondo-azul);
    color: var(--texto-blanco);
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer; /* Para qe aparezca la manito */
}

button:hover {
    background-color: #006699;
}